### SQLite

In [1]:
import sqlite3
connection = sqlite3.connect("banco.db")

def createTable():
    connection.execute('''DROP TABLE IF EXISTS aluno;''')
    connection.execute('''CREATE TABLE aluno (id INT AUTO_INCREMENT, nome VARCHAR(30), idade INT, PRIMARY KEY(id));''')

def insertStudents():
    connection.execute('''INSERT INTO aluno (nome, idade) VALUES ("Guilherme", 25), ("Sandra", 21), ("Augusto", 30);''')
    connection.commit()
    
def showTable():
    students = connection.execute("SELECT * FROM aluno;")
    return students
    
def deleteStudent(idStudent):
    connection.execute("DELETE FROM aluno WHERE id = ?;", (str(idStudent)))
    showTable()
    
def createStudent(name, age):
    connection.execute('''
        INSERT INTO aluno (nome, idade) VALUES (?, ?)
    ''', (name, age))
    connection.commit()
    
def findStudent(idStudent):
    student = connection.execute('''SELECT * FROM aluno WHERE id = ?''', (str(idStudent)))
    return student

def updateStudent(idStudent, **kwargs):
    new_name = kwargs.get("name")
    new_age = kwargs.get("age")
    
    students = findStudent(idStudent) 
    for student in students:
        if new_name is None:
            new_name = student[1]
            
        if new_age is None:
            new_age = student[2]
                    
    connection.execute('''UPDATE aluno SET nome = ?, idade = ? WHERE id = ?''', (new_name, new_age, idStudent))
    connection.commit()
    print("Aluno alterado com sucesso!")

if __name__ == "__main__":
    createTable()
    insertStudents()
    
    students = showTable()
    for student in students:
        print(student)
        
    updateStudent(1, age = 45)
    
    new_students = showTable()
    for student in new_students:
        print(student)
        
    deleteStudent(1)
    
    new_students = showTable()
    for student in new_students:
        print(student)

(None, 'Guilherme', 25)
(None, 'Sandra', 21)
(None, 'Augusto', 30)
Aluno alterado com sucesso!
(None, 'Guilherme', 25)
(None, 'Sandra', 21)
(None, 'Augusto', 30)
(None, 'Guilherme', 25)
(None, 'Sandra', 21)
(None, 'Augusto', 30)

### MySQL

In [45]:
# Necess√°rio instalar o pacote do mysql com o comando: pip install mysql-connector-python

#!/usr/bin/python3
import mysql.connector
from mysql.connector import Error

try:
    
    con = mysql.connector.connect(host='localhost', database='teste', user='root', password='teste123')
    cursor = con.cursor()
    
    def showStudents():
        cursor.execute("SELECT * FROM Aluno")
        print(cursor.fetchall()) 

    def insertStudent(name, age):        
        # Lembrar de inserir as aspas dentro do comando SQL para strings!
        sql = 'INSERT INTO Aluno (nome, idade) VALUES ("{}", {});'.format(name, str(age))
        cursor.execute(sql)
        con.commit()

    if con.is_connected():
        insertStudent("Teste 3", 24)
        showStudents()
        

except Error as erro:
    print(erro)
    
finally:
    if con.is_connected():
        con.close()

[(1, 'Guilherme', 25), (2, 'Ayrton', 34), (3, 'Ayrton', 34), (4, 'Teste', 34), (5, 'Teste 1', 24), (6, 'Teste 2', 24), (9, 'Teste 3', 24), (10, 'Teste 3', 24)]